# ***Name : Fawad khan***
# ***Reg No : 23jzele0544***
# **Lab : 04**

# **Lab Practice**

1. Motivation
Interest is to make a list that can store employee data.
[name, age, position, the year they started working]
For example
* kirk = ["James Kirk", 34, "Captain", 2265]
* spock = ["Spock", 35, "Science Officer", 2254]
* mccoy = ["Leonard McCoy", "Chief Medical Officer", 2266]

In [3]:
kirk = ["James Kirk", 34, "Captain", 2265]
spock = ["Spock", 35, "Science Officer", 2254]
mccoy = ["Leonard McCoy", "Chief Medical Officer", 2266]

* Print(kirk[0])

In [5]:
print(kirk[0])

James Kirk

print(mccoy[1])

In [8]:
print(mccoy[1])

Chief Medical Officer

## 2. Dog class

In [18]:
class Dog:
     pass

a. Creating a new object from a class is called instantiating a class. You can create a new
object by typing the name of the class, followed by opening and closing parentheses:

In [19]:
Dog()

b. Create two new Dog objects and assign them to the variables a and b.

In [20]:
a = Dog()

In [21]:
b=Dog()

c. When you compare a and b using the **==** operator, the result is False. Even
though a and b are both instances of the Dog class, they represent two distinct objects
in memory.
a == b

In [22]:
a==b

False

d. Use the print command and print both instances/ objects.

In [23]:
print(a)

<__main__.Dog object at 0x0000026B1A3AB970>

In [24]:
print(b)

<__main__.Dog object at 0x0000026B19150880>

3. Following is a class named ****MyFirstClass****.

In [27]:
class  MyFirstClass:
    pass

a. Make two instances named ***FC1*** and ***FC2***.

In [28]:
FC1=MyFirstClass()

In [29]:
FC2=MyFirstClass()

b. Check whether FC1 and FC2 represent the same object or not.

In [30]:
FC1==FC2

False

c. Use the print command and print both instances.

In [31]:
print(a)

<__main__.Dog object at 0x0000026B1A3AB970>

In [32]:
print(b)

<__main__.Dog object at 0x0000026B19150880>

4. Consider the following class definition.

In [33]:
class Point:
    pass

a.Make two instances named as p1 and p2

In [34]:
p1=Point()

In [35]:
p2=Point()

b. Print both objects p1 and p2.

In [36]:
print(p1)

<__main__.Point object at 0x0000026B1915D3D0>

In [37]:
print(p2)

<__main__.Point object at 0x0000026B1915D7C0>

c. Try different names for objects, instead of p1 and p2. Also, use different attribute names.

In [38]:
class Point:
    def __init__(self,x,y):
        self.x=x
        self.y=y

In [40]:
a = Point(2,5)

In [41]:
b= Point(7,5)

In [43]:
print(a)

<__main__.Point object at 0x0000026B1A378460>

In [44]:
print(b)

<__main__.Point object at 0x0000026B1A3AB130>

To print the attributes of the  new objects/instance we have

In [46]:
print(f" The coordinate of point a is {a.x} and {a.y}")

 The coordinate of point a is 2 and 5

In [48]:
print(f" The coordinate of point a is {b.x} and {b.y}")

 The coordinate of point a is 7 and 5

5. Update the Dog class with an __init__() method that creates .name and .age attributes:

In [49]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age

a. **Run**: miles = Dog("Miles", 4)

In [51]:
miles = Dog("Miles", 4)

b.print miles

In [52]:
print(miles)

<__main__.Dog object at 0x0000026B1A350AF0>

Create a new Dog class with a class attribute called. species and two instance attributes
called .name and .age:

Class attribute: You define class attributes directly beneath the first line of the class
name and indent them by four spaces

In [59]:
class Dog:
    species = 'Canis familiaris'
    def __init__(self, name, age):
        self.name = name
        self.age = age

a. To instantiate this Dog class, you need to provide values for name and age. If you don’t,
then Python raises a TypeError:
* Run: Dog()

In [60]:
Dog()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'age'

b. To pass arguments to the name and age parameters, put values into the parentheses
after the class name:
* miles = Dog("Miles", 4)
* buddy = Dog("Buddy", 9)

In [61]:
miles = Dog("Miles", 4)
buddy = Dog("Buddy", 9)

c. After you create the Dog instances, you can access their instance attributes using dot
notation:

In [62]:
print(f"Mile name: {miles.name}")
print(f"Miles age: {miles.age}")

Mile name: Miles
Miles age: 4

In [63]:
print(f"Buddy name: {buddy.name}")
print(f"Buddy age: {buddy.age}")

Buddy name: Buddy
Buddy age: 9

d. Although the attributes are guaranteed to exist, their values can change dynamically:

In [64]:
buddy.age = 10

In [65]:
buddy.age

10

In [66]:
miles.species = "Felis silvestris"

In [67]:
miles.species

'Felis silvestris'

7. Define a class point in 2 dimension coordinate system. Your class must have the appropriate
**__init__** method. In addition, add two other instance methods for the distance between points
and also show or display the point properly **(note: return tuple like (x, y))**. Add another method
with the name locate to display the coordinate in which the point is located. Add proper
annotation and doc string to every class and instance method.

In [68]:
class Point:
    pass

In [69]:

import math
class Point:
    """Represent a 2D coordinte system
        parametrs:
            x --> float
            y --> float
        """
    def __init__(self, x: float, y: float ) -> None:
        """Initialize the coordinte system
        parametrs:
            x --> float
            y --> float
        retrun:
            None
        """
        self.x = x
        self.y = y
    def distance(self, p2: 'point') -> float:
        """To calculate distance between two points
        parameter:
            x - float
            y - float
        return
            None
        """
        return math.sqrt((self.x-p2.x)**2 + (self.y-p2.y)**2)
    def locate(self) -> str:
        """Returns a string representation of the point's coordinates.
        
        returns
              --> str
        """
        return f"Point located at ({self.x} and {self.y}) "
    def show(self) -> tuple:
        """Retrun the Points in Tuple form
        return 
              --> Tuple 
        """
        return (self.x, self.y)

a. Define point1 and pass two numbers.

In [70]:
point1=Point(1,2)

In [72]:
point2=Point(3,4)

print both

In [73]:
print(point1)

<__main__.Point object at 0x0000026B1A394970>

In [74]:
print(p2)

<__main__.Point object at 0x0000026B1915D7C0>

d. Also print the location of both points.